@{
    ViewBag.Title = "O nás";
}

<p><h2>AC Sparta Praha fotbal, a. s.</h2><p>

AC Sparta Praha je dlouhodobě nejvýznamnějším a na sportovním poli nejúspěšnějším klubem českého fotbalu. Za více než 120 let své existence zaznamenal úspěchy v domácích soutěžích, stejně jako i na mezinárodní fotbalové scéně. V novodobé historii České republiky patří Spartě jednoznačné prvenství v umístění v domácí ligové soutěži (12 titulů mistra České republiky), pravidelně také reprezentuje český fotbal v soutěžích UEFA (UEFA Champions League a Europa League - dříve UEFA Cup), ve kterých také dosáhla řady úspěchů. V sezoně 2013/2014 AC Sparta Praha získala již 36. titul mistra české nebo československé ligy.